body {
    font-family: sans-serif;
    background-color: #e1f4fd;
}

header {
    background-color: #00a9a3;
}

header h1 {
    text-align: center  ;
}

header nav ul {
    list-style: none;
    text-align: center;
    padding: 1rem;
}

header nav ul li a {
    text-decoration: underline;
    color: black ;
}

#aboutme {
    text-align: center;
    padding-bottom: 1rem;
}

#hobby {
    text-align: center;
}

#hobby ul {
    list-style: none;
    padding:1rem;
}

#hobby ul li a {
    text-decoration: underline;
    color: black;
}

#series {
    text-align: center;
}

#series ol {
    list-style-position:inside;
    padding: 1rem ;
}

#foto {
    text-align: center;
}

footer {
    background-color: #00a9a3;
    text-align: center;
}

footer a {
    text-decoration: underline;
    color: black;
}